@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');

html{
    scroll-behavior: smooth;
}
    
body{
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    position: relative;
    height: 100%;
}

#home{
    background: url('/images/homeBackground.jpg') no-repeat fixed;
    background-position: center center;
    background-size: cover;
    flex-direction:column; /* not the default row */
    justify-content:center; /* vertically centered because flex direction is column */
    height:100%; /* so it knows what space is available to center in */
    width: auto;
}


#education{
    background: url('/images/pang-yuhao-_kd5cxwZOK4-unsplash.jpg') no-repeat fixed;
    background-position: center center;
    background-size: cover;
    flex-direction:column; /* not the default row */
    justify-content:center; /* vertically centered because flex direction is column */
    height: 100%; /* so it knows what space is available to center in */
    width: auto;
    color: seashell;
}
    

.bigName h1{ 
    margin-top: 20%;
    color: snow;
    text-decoration: none;
    font-variant: 500;
}

.bigName h2{
    color: snow;
    text-decoration: none;
    font-style: oblique;
    font-variant: 400;
}

.nav-link{
    color: snow;
}

.navbar-brand{
    color: rgba(32, 32, 32, 0.808);
    font-size: 3vmin;
}

.rounded-circle.me {
    border: 10px solid transparent;
    margin-bottom: 10%;
    max-width: 19vw;
    height: auto;
    opacity: 0.9;
    justify-content: center;
  }

.rounded-circle.me:hover {
   border-color: #f1f1f10e;
}

.container-fluid.fill{
    background-color: dimgray;
    padding: 4% 5%;
    height:100%;
    width: auto;
} 

.inContainer{
    position: relative;
}


.col-4{
    padding: 1vh 2vw;
}

.col-6{
    padding: 1vh 2vw;
}

.col-6.left{
    border-right: 1px dashed rgb(233, 229, 229);
}

.col-6.right{
    border-left: 1px dashed rgb(233, 229, 229);
}

.col-4.left{
    border-right: 1px dashed rgb(233, 229, 229);
}

.col-4.right{
    border-left: 1px dashed rgb(233, 229, 229);
}

.col-8.left{
    border-right: 1px dashed rgb(233, 229, 229);
}

.contactDetails{
    list-style-type: none;
    padding: 0;
}

.contactme{
    color: lightgray;
}

.iconblock{
    color: lightgray;
    list-style-type: none;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
a.icon{
    color: lightgray;
}

a.icon:hover{
    color: lightslategrey;
}

.creditContainer{
    position: relative;
}

.credits {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    font-size: 2vmin;
    color: snow;
  }

.progress{
      margin-bottom: 10px;
      font-size: 1.3vh;
      height: 2vh;
      width: 100%;
}

h1{
    font-size: 7vmin;
}

h2{
    font-size: 4.5vmin;
}

h3{
    font-size: 3vmin;
    margin-top: 0.6vmin;
}

h4{
    font-size: 2vmin;
    margin-bottom: 0.2vmin;
}

li{
    font-size: 2vmin;
}

p{
    font-size: 2vmin;
}

.titlepage{
    font-size: 12vmin;
}

ul{
    margin: 0;
}

.forcolumns{
    margin-top: 1.5%;
}