@import url('https://media.licdn.com/dms/image/C5603AQEVov8phChrNw/profile-displayphoto-shrink_800_800/0/1633553006695?e=1686182400&v=beta&t=evlkoH6oCVRe0RM88AwGDLY96kfDhHyzp6sqV_8iiy8');

/* set core colours as variables for use in the entire doc */

:root {
  --bright-blue: rgba(0, 234, 180, 0.637);
  --white: snow;
  --dark-blue: rgba(1, 116, 89, 0.542);
  --medium-blue: rgba(58, 210, 175, 0.779);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Advent Pro", sans-serif;
  margin: 0;
  position: relative;
  height: 100%;
}

#home {
  background: linear-gradient(110deg, var(--dark-blue), var(--medium-blue)) no-repeat fixed;
  background-position: center center;
  background-size: cover;
  flex-direction: column; /* not the default row */
  justify-content: center; /* vertically centered because flex direction is column */
  height: 100%; /* so it knows what space is available to center in */
  width: auto;
  object-fit: cover;
}

#education {
  background: url("C:\Users\Wenteehee\Desktop\wendi4short.github.io\images\joanna-kosinska-bF2vsubyHcQ-unsplash.jpg") no-repeat fixed;
  background-position: center center;
  background-size: cover;
  flex-direction: column; /* not the default row */
  justify-content: center; /* vertically centered because flex direction is column */
  height: 100%; /* so it knows what space is available to center in */
  width: auto;
  color: var(--white);
  object-fit: cover;
}

.carousel-cover {
  width: auto;
  height: 100%;
  object-fit: cover;
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

a.icon {
  font-size: 2rem;
}

h1 {
  color: var(--white);
  font-weight: 300;
}

h2 {
  color: var(--bright-blue);
  font-weight: 100;
}

h3 {
  color: var(--medium-blue);
  font-weight: 300;
  filter: drop-shadow(0px 1px 1px var(--white));
  padding-top: 5rem;
}

h4 {
  color: var(--bright-blue);
  font-weight: 700;
}

li {
  color: var(--white);
}

.bigName h1 {
  margin-top: 20%;
  text-decoration: none;
  filter: drop-shadow(0px 4px 4px var(--dark-blue));
}

.bigName h2 {
  text-decoration: none;
  filter: drop-shadow(0px 2px 4px var(--medium-blue))
}

.nav-link {
  color: var(--white);
  filter: drop-shadow(0px 4px 4px var(--dark-blue))
}

.navbar-brand {
  color: var(--bright-blue);
  font-size: 2rem;
  filter: drop-shadow(0px 2px 2px var(--white))
}

.rounded-circle.me {
  border: 10px solid transparent;
  margin-bottom: 10%;
  max-width: 19vw;
  height: auto;
  opacity: 0.9;
  justify-content: center;
}

.rounded-circle.me:hover {
  border-color: var(--medium-blue);
  border-width: 20px;
}

.container-fluid.fill {
  background: linear-gradient(110deg, var(--dark-blue), var(--medium-blue));
  padding: 5% 5%;
  height: 100%;
  width: auto;
}

.inContainer {
  position: relative;
}

.col-4 {
  padding: 1vh 2vw;
}

.col-6 {
  padding: 1vh 2vw;
}

.col-6.left {
  border-right: 1px dashed var(--white);
}

.col-6.right {
  border-left: 1px dashed var(--white);
}

.col-4.left {
  border-right: 1px dashed var(--white);
}

.col-4.right {
  border-left: 1px dashed var(--white);
}

.col-8.left {
  border-right: 1px dashed var(--white);
}

.contactDetails {
  list-style-type: none;
  padding: 0;
}

.contactme {
  color: var(--white);
}

.iconblock {
  color: var(--white);
  list-style-type: none;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
a.icon {
  color: var(--white);
}

a.icon:hover {
  color: var(--bright-blue);
}

a.nav-link:hover {
  color: var(--bright-blue)
}

.creditContainer {
  position: relative;
}

.credits {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  font-size: 2vmin;
  color: var(--white);
}

.progress {
  margin-bottom: 10px;
  font-size: 1.3vh;
  height: 2vh;
  width: 100%;
}

h1 {
  font-size: 7vmin;
  margin-top: 3vmin;
}

h2 {
  font-size: 4.5vmin;
}

h3 {
  font-size: 3vmin;
  margin-top: 0.6vmin;
}

h4 {
  font-size: 2vmin;
}

li {
  font-size: 2vmin;
}

p {
  font-size: 2vmin;
}

ul {
  margin: 0;
}

.forcolumns {
  margin-top: 1.5%;
}

#whycode {
  margin-top: 3vmin;
}

.carousel-item {
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

#projects {
  height: 100vh;
  padding: 0%;
}

.project-title {
  color: black;
}

.project-date {
  color: var(--white);
  border-bottom: 0.2vh solid var(--medium-blue);
  padding-bottom: 2vh;
  margin-right: 10vw;
}

.project-title-div {
  margin-top: 15vh;
  padding-left: 5vw;
  padding-bottom: 2vh;
}

.project-main {
  background-color: white;
}