html{
    scroll-behavior: smooth;
}
body{
    background-color: slategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section{
    width: 100vw;
    height: 100vh;
 }

.section.bigName h1{
    color: snow;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    object-position: center;
    top: 250px;
}

.section.bigName h2{
    color: snow;
    font-size: large;
    font-weight: bold;
    text-align: center;
    object-position: center;
    top: 260px;
}

.nav {
    background-color: dimgrey;
    padding: 5px;;
    width: 130px;
    z-index: 100;
    position: fixed;
    bottom: 200px;
    right: 50px;
  }