html{
    scroll-behavior: smooth;
}
body{
    background-color: slategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section{
    width: 100vw;
    height: 100vh;
 }

 #home.section{
     text-align: center;
 }

.bigName h1{
    color: snow;
    font-size: larger;
    font-weight: bolder;
    top: 250px;
}

.bigName h2{
    color: snow;
    font-size: large;
    font-weight: bold;
    top: 260px;
}

.nav {
    background-color: dimgrey;
    padding: 5px;;
    width: 130px;
    z-index: 100;
    position: fixed;
    bottom: 200px;
    right: 50px;
  }

  .nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150px;
  }


  .nav li a {
    display: block;
    width: 60px;
    color: lightslategrey;
  }

  .nav li a:hover {
    background-color: rgb(8, 24, 70);
    color: white;
  }

a.active{
    background-color: rgb(8, 24, 70);
    color: white;
}