@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');

html{
    scroll-behavior: smooth;
}

* {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%; }
    
body{
    background-color: rgba(112, 113, 114, 0.123);
    font-family: 'Space Grotesk', sans-serif;
}

.section{
    width: 100vw;
    height: 100vh;
}

#home{
    background: url('/images/homeBackground.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 700px;
    display:flex;
    flex-direction:column; /* not the default row */
    justify-content:center; /* vertically centered because flex direction is column */
    height:15em; /* so it knows what space is available to center in */
    text-align: center;
}
}

.bigName h1{
    color: snow;
    font-size: 100px;
    text-decoration: none;
    font-style: oblique;
    font-variant: 500;
}

.bigName h2{
    color: snow;
    font-size: 80px;
    text-decoration: none;
    font-variant: 400;
}

.nav {
    padding: 5px;;
    z-index: 100;
    position: fixed;
    top: 100px;
    right: 100px;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(8, 24, 70);
    height: 300px;
    justify-content: center;
}

.nav li{
    border-bottom: 1px solid #555;
    color: seashell;
}

.nav li a{
    display: block;
    color: seashell;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

.nav li a:hover {
    background-color: rgb(8, 24, 70);
    color: white;
}

.nav li:last-child {
    border-bottom: none;
  }

a.active{
    background-color: rgb(8, 24, 70);
    color: white;
}