@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap');


:root {
  --pizza-cheese: #f5c542;       
  --pizza-sauce: #f14131;        
  --pizza-crust: #b15915;        
  --pizza-mozzarella: #fff5e1;   
  --pizza-basil: #3f7d20;        
  --pizza-olive: #2e2e2e;        
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Advent Pro", sans-serif;
  margin: 0;
  position: relative;
  height: 100%;
}

#home {
  background: linear-gradient(110deg, var(--pizza-crust), var(--pizza-sauce)) no-repeat fixed;
  background-position: center center;
  background-size: cover;
  flex-direction: column; 
  justify-content: center; 
  height: 100%; 
  width: auto;
  object-fit: cover;
}



.carousel-cover {
  width: auto;
  height: 100%;
  object-fit: cover;
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

a.icon {
  font-size: 2rem;
}

h1 {
  color: var(--pizza-mozzarella);
  font-weight: 300;
}

h2 {
  color: var(--pizza-cheese);
  font-weight: 100;
}

h3 {
  color: var(--pizza-crust);
  font-weight: 300;
  filter: drop-shadow(0px 1px 1px var(--pizza-mozzarella));
  padding-top: 5rem;
}

h4 {
  color: var(--pizza-olive);
  font-weight: 700;
}

li {
  color: #1e1e1e;
}

.bigName h1 {
  margin-top: 20%;
  text-decoration: none;
  filter: drop-shadow(0px 4px 4px var(--pizza-olive));
}

.bigName h2 {
  text-decoration: none;
  filter: drop-shadow(0px 2px 4px var(--pizza-crust));
}

.nav-link {
  color: #1e1e1e;
  font-weight: 600;
}

.navbar-brand {
  color: var(--pizza-cheese);
  font-size: 2rem;
  
}
.navbar-brand:hover{
  cursor: pointer;
}

/* .rounded-circle.me {
  border: 10px solid transparent;
  margin-bottom: 10%;
  max-width: 19vw;
  height: auto;
  opacity: 0.9;
  justify-content: center;
}

.rounded-circle.me:hover {
  border-color: var(--pizza-crust);
  border-width: 20px;
} */

.container-fluid.fill {
  background: linear-gradient(110deg, #b73529, var(--pizza-sauce)) no-repeat fixed;
  padding: 5% 5%;
  height: 100%;
  width: auto;
}

.inContainer {
  position: relative;
}

.col-4,
.col-6 {
  padding: 1vh 2vw;
}

.col-6.left,
.col-4.left,
.col-8.left {
  border-right: 1px dashed var(--pizza-mozzarella);
}

.col-6.right,
.col-4.right {
  border-left: 1px dashed var(--pizza-mozzarella);
}

/* .contactDetails {
  list-style-type: none;
  padding: 0;
}

.contactme {
  color: var(--pizza-mozzarella);
} */
/* 
.iconblock {
  color: var(--pizza-mozzarella);
  list-style-type: none;
  margin-top: 2vw;
  margin-bottom: 2vw;
} */

a.icon {
  color: var(--pizza-mozzarella);
}

a.icon:hover {
  color: var(--pizza-basil);
}

a.nav-link:hover {
  color: var(--pizza-basil);
}

.creditContainer {
  position: relative;
}
/* 
.credits {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  font-size: 2vmin;
  color: var(--pizza-mozzarella);
} */
/* 
.progress {
  margin-bottom: 10px;
  font-size: 1.3vh;
  height: 2vh;
  width: 100%;
} */

h1 {
  font-size: 55px;
  margin-top: 3vmin;
  color: #1e1e1e;
}

h2 {
  font-size: 40px;
  color: #325e00;
}

h3 {
  font-size: 3vmin;
  margin-top: 0.6vmin;
  color: var(--pizza-crust);
}

h4 {
  font-size: 2vmin;
  color: var(--pizza-cheese);
}

li {
  font-size: 2vmin;
  color: var(--pizza-mozzarella);
}

p {
  font-size: 2vmin;
  color: #1e1e1e;
}

ul {
  margin: 0;
}

.forcolumns {
  margin-top: 1.5%;
}

#whycode {
  margin-top: 3vmin;
}

.carousel-item {
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

#projects {
  height: 100vh;
  padding: 0%;
}

.project-title {
  color: var(--pizza-olive);
}

.project-date {
  color: var(--pizza-mozzarella);
  border-bottom: 0.2vh solid var(--pizza-crust);
  padding-bottom: 2vh;
  margin-right: 10vw;
}

.project-title-div {
  margin-top: 15vh;
  padding-left: 5vw;
  padding-bottom: 2vh;
}

.project-main {
  background-color: var(--pizza-mozzarella);
}

.project-review {
  color: var(--pizza-olive); 
  font-size: 2vmin; 
}

.carousel-caption p {
  color: var(--pizza-olive); 

}